--only-binary=:all:

# Core
streamlit
pandas

# spaCy + English model
spacy==3.8.7
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

# Optional
numpy>=1.23,<2.0

